<div class="container">
    <div class="row ">
        <div class="col-lg-12" style="padding-left: 0; padding-right:0; padding-top: 10px;">
            <table class="table">
                <tbody>
                    <tr><td colspan="5">
                        <form id="submitDate" class="row">
                            <div class="col-lg-2">เลือกวัน: </div>
                            <div class="col-lg-2">
                                <input type="text" placeholder="วันที่" class="form-control dateInput" id="dateToFetchInput" ng-value="getDateString()"
                                style="display: inline-flex; width: calc(100% - 32px);"/>
                            </div>
                            <div class="col-lg-2"><input type="submit" class="form-control btn btn-primary" value="search"/></div>
                        </form>
                    </td></tr>
                    <tr><td colspan="5">
                        <form class="row">
                            <div class="col-lg-2">เพิ่มรายการ: </div>
                            <div class="col-lg-2">
                                <input type="text" placeholder="วันที่" class="form-control dateInput" id="income_date_field" ng-value="getDateString()"
                                style="display: inline-flex; width: calc(100% - 32px);"/>
                            </div>
                            <div class="col-lg-2" >
                                <select class="form-control" id="income_type_field">
                                    <option disabled selected value>เลือก...</option>
                                    <option value="in">รายรับ</option>
                                    <option value="out">รายจ่าย</option>
                                </select>
                            </div>
                            <div class="col-lg-2" >
                                <input type="text" placeholder="รายการ" class="form-control" id="income_topic_field"/>
                            </div>
                            <div class="col-lg-2" >
                                <input type="text" placeholder="จำนวน" class="form-control" id="income_money_field"/>
                            </div>
                            <div class="col-lg-1" >
                                <input type="reset" value="clear" class="form-control btn btn-warning"/>
                            </div>
                            <div class="col-lg-1" >
                                <input type="submit" value="add" class="form-control btn btn-secondary" id="insertBut"/>
                            </div>
                        </form>
                    </td></tr>
                </tbody>
            </table>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <div style="display: inline-flex;">วันที่: {{getDateString()}}</div>
                        </th>
                        <!--<th>เวลา</th>-->
                        <!--<th>type</th>-->
                        <!--<th>รายการ</th>-->
                        <th>จำนวน</th>
                    </tr>
                </thead>
                <!--<tbody id="outer_loading_box">
                    <tr>
                        <td colspan="4" id="loading_box" style="text-align:center;"></td>
                    </tr>
                </tbody>-->
                <tbody id="tbody_income" >
                    <tr ng-if="(isLogin)" ng-repeat="o in firebaseObject[dateToFetch.y][dateToFetch.m][dateToFetch.d]">
                        <!--<td>-</td>-->
                        <!--<td>-</td>-->
                        <!--<td>{{o.type}}</td>-->
                        <td>{{o.topic}}</td>
                        <td>{{o.money}}</td>
                    </tr>
                    <tr ng-if="(!isLogin)">
                        <td colspan="5" style="text-align:center;color:red;">please login...</td>
                    </tr>
                    <tr ng-if="(isLogin)">
                        <td ng-if="(isLoading)" colspan="5" style="text-align:center;color:red;">loading...</td>
                        <td ng-if="(!firebaseObject[dateToFetch.y][dateToFetch.m][dateToFetch.d])&&(!isLoading)" colspan="5" style="text-align:center;color:red;">no record found in this day.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--<div class="row">
        <form>
            <div class="col-lg-2" style="padding-left: 0;">
                <input type="text" placeholder="วันที่" class="form-control" id="income_date_field"/>
            </div>
            <div class="col-lg-2" >
                <select class="form-control" id="income_type_field">
                    <option value="in">รายรับ</option>
                    <option value="out">รายจ่าย</option>
                </select>
            </div>
            <div class="col-lg-2" >
                <input type="text" placeholder="รายการ" class="form-control" id="income_topic_field"/>
            </div>
            <div class="col-lg-2" >
                <input type="text" placeholder="จำนวน" class="form-control" id="income_money_field"/>
            </div>
            <div class="col-lg-2" >
                <input type="submit" value="เพิ่ม" class="form-control btn btn-secondary" id="insertBut"/>
            </div>
        </form>
    </div>-->
</div>