.header-link{
    font-size: 14px;
    transition: .5s;
}

.header-link:hover{
    cursor: pointer !important;
}

.green-light{
    color: rgb(0,200,150) !important;
}

.green-light:hover{
    color: rgb(0,150,100) !important;
}

.green-light-active{
    color: rgb(0,150,100) !important;
}

.gray-light{
    color: rgb(160,160,160) !important;
}

.gray-light:hover{
    color: rgb(80,80,80) !important;
}

.gray-light-active{
    color: rgb(80,80,80) !important;
}

.blue-light{
    color: rgb(0,120,200) !important;
}

.blue-light:hover{
    color: rgb(0,100,150) !important;
}

.orange-light{
    color: rgb(255,40,20) !important;
}

.orange-light:hover{
    color: rgb(200,30,10) !important;
}

.gap{
    margin-left: 15px;
}

.header-fixed-top{
    width: calc(100vw);
    z-index: 199;
    position: fixed;
    /*-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;*/
    /*margin-left: 15px;
    margin-right: 25px;*/
    /*padding-left: 15px;
    padding-right: 15px;*/
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,.05)!important;
}
.chide{
  /* These are just alternative ways of hiding an element */
  opacity:0;
}
.nopaddingLR{
    padding-left: 0;
    padding-right: 0;
}
.buttonHead{
    outline: none;
    border: none;
    background-color: unset;
    text-align: center;
    /*padding-left: 2px;
    padding-right: 2px;*/
    height: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    -webkit-transition:  0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition:  0.5s ease;
    -ms-transition: 0.5s ease;
    transition:  0.5s ease;  
    
}
.buttonHead:hover{
    
    /*text-decoration: underline;*/
    cursor: pointer;
}

.green-underline{
    border-bottom: 2px solid rgba(255,255,255,0);
    text-decoration: none !important;
}

.green-underline:hover{
    border-bottom: 2px solid rgba(0,150,100,1);
}

.blue-underline{
    border-bottom: 2px solid rgba(0,120,200,0);
    text-decoration: none !important;
}

.blue-underline:hover{
    border-bottom: 2px solid rgba(0,100,150,1);
}

.gray-underline{
    border-bottom: 2px solid rgba(160,160,160,0);
    text-decoration: none !important;
}

.gray-underline:hover{
    border-bottom: 2px solid rgba(80,80,80,1);
}
.inputHead{
    display: inline-block;
    width: 100%;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    -webkit-transition: 0.5s ease;
    -moz-transition:  0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    transition:  0.5s ease; 
    border-bottom: 2px solid rgba(255,255,255,0);
}
.inputHead:focus{
    border-bottom: 2px solid rgba(0,150,100,.5);
    outline: none;
}
/*@media (min-width: 1200px){
    .header-fixed-top {
        z-index: 999;
        position: fixed;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 15px;
        padding-right: 15px;
        border-bottom: 1px solid rgba(0,0,0,.05)!important;
        width: 1140px;
        max-width: 100%;
    }
}
@media (min-width: 992px){
    .header-fixed-top {
        z-index: 999;
        position: fixed;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 15px;
        padding-right: 15px;
        border-bottom: 1px solid rgba(0,0,0,.05)!important;
        width: 960px;
        max-width: 100%;
    }
}
@media (min-width: 768px){
    .header-fixed-top {
        z-index: 999;
        position: fixed;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 15px;
        padding-right: 15px;
        border-bottom: 1px solid rgba(0,0,0,.05)!important;
        width: 720px;
        max-width: 100%;
    }
}
@media (min-width: 576px){
    .header-fixed-top {
        z-index: 999;
        position: fixed;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 15px;
        padding-right: 15px;
        border-bottom: 1px solid rgba(0,0,0,.05)!important;
        width: 540px;
        max-width: 100%;
    }
}*/